# Dependencias
node_modules/
.pnpm-store/

# Build
dist/
build/
*.tsbuildinfo

# Next.js
.next/
out/
next-env.d.ts

# Entorno / secretos
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
